<strong>Olá. {{ deliveryMan }}</strong>
<p>Uma nova encomenda foi cadastrada e já está disponível para retirada:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Data de Cadastro: </strong> {{ date }} <br />
</p>
